@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans-Bold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Noto";
    src: url("/fonts/NotoSans-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic 
}

body {
    font-family: "Noto";
}

h1 {
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: 5px;
}

h2 {
    font-weight: bold;
    font-size: 21px;
    line-height: 140%;
}

p, td, th, li {
    font-weight: normal;
    font-size: 15px;
    line-height: 150%; /* 22.5px or 1.5 */
}

img { 
    width: 400px;
}

