*  {
    margin: 0px;
    padding: 0px; 
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #E8F3F3;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.header__content {
    display: grid;
    grid-template-columns: 1fr 120px 1fr;
    grid-gap: 10px;
    width: 1600px;
    height: auto;
    min-height: 70px;
    align-items:center;
    padding-left: 10px;
    padding-right: 10px;
 }

.header__content .links{
    display: flex;
    flex-direction: row;

}

.links__wrapper{
    width: auto;
    margin: 20px;
    position: relative;
}

.links__list {
    display:none;
    position: absolute;
    width: 100px;
    height: 100%;
}

.links__wrapper:hover .links__list{
    display:flex;
    flex-direction: column;
}

.header__content .action-list {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    flex-direction: row;
    text-decoration: none;
    color: black;
}

main {
    display: grid;
    grid-template-columns: 1fr 361px;
    grid-gap: 80px;
    width: 100%;
    max-width: 1297px;
    margin-top: 80px;
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    
}

footer {
    display:block;
    background-color: #DFF1F0;
    min-height: 435px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;

}

body {
    min-height: 5000px;
    font-family: "Noto";
}

.main-blogpage-image {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.author-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

.author {
    display: grid;
    grid-template-columns: 90px 1fr ;
    grid-gap: 20px;
}

tr {
    background-color: #DFF1F0;
   
}

section.aside-block li {
    margin-top: 10px;
}

section.aside-block ul h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

.footer-wraper {
display: grid;
grid-template-columns: 236px repeat(3, 1fr);
grid-gap: 110px;
max-width: 1300px;
margin-left: auto;
margin-right: auto;
padding-top: 103px;
padding-bottom: 65px;
}

.article-block * {
    margin-top: 30px;
}

.article-block h1 {
    margin-bottom: 20px;
    size: 56px;
    color: black;
}

.article-block p + h2 {
    margin-top: 32px;
}

table {
    
    margin-top: 20px;
    margin-bottom: 20px;
    border-collapse: collapse;
    border-width: 
}

.table-head {
    background-color: #DFF1F0;
}

.table-body tr:nth-child(2n+1){
    background-color: #F2F8F7;
}

.table-tbody tr:nth-child(2){
    background-color: #FDFDFD;
}

.quote {
    background-color: #DFF1F0;
    margin-top: 20px;
    margin-bottom: 20px;

}

.links__item:link{
    color: blue;
}

.links__item:visited{
    color:black;

}

.links__item:hover{
    color:rebeccapurple;
    font-size: large;
}

@font-face {
    font-family: "Noto";
    src: url("../Fonts/NotoSans-ExtraBold.ttf") format("truetype");
    font-weight: bold;
}

@font-face {
    font-family: "Noto";
    src: url("../Fonts/NotoSans-Regular.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "Noto";
    src: url("../Fonts/NotoSans-CondensedExtraLightItalic.ttf") format("truetype");
    font-weight: lighter;
    font-style: italic;
}

.ad-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 300px;
    background-color: #00AAA1;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.box-title {
    width: 222px;
    align-self: flex-start;
}

.box-description {
    width: 284px;
    align-self:flex-start;
}

.box-button {
    border: none;
    width: 104px;
    height: 41px;
    background-color: white;
    border-radius: 5px;
}

.aside-title{
    background-color: #00AAA1;
    width: 100%;
    text-align: center;
    color: white;
}

.category-box-1 {
    display: flex;
    width: 100%;
    height: 45px;
}

.category-box-1 h3 {
    background-color: #00AAA1;
    width: 111px;
    height: 29px;
    margin-top: 5px;
    margin-bottom: 8px;
    margin-left: 5px;
    text-align: center;
    text-decoration: white;
}

.category-box-2__item {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    line-height: 43px;
    text-decoration: none;
    border-bottom: dotted ;
    border-color: #D1E7E5;
    margin-top: 20px;

}

.category-box-2__item:last-child{
    border-bottom: none;
}

.category-number{
    text-align: end;
}

.plates-box h3 {
    margin-top: 50px;
}

.plates-box__item {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 24px;
}

.plate__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F2F8F7;
    border-radius: 10px;
    text-align: center;
}

.plate__number-box {
 width: 28px;
 height: 34px;
 align-self: center;
 color: #00AAA1;
 font-weight: bold;
}

.instagram__box h3 {
    margin-top: 50px;
}

.insta-box__item {
    display: grid;
    width: 361px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 114px);
    grid-gap: 7px;
    margin-top: 50px;
}

.insta-box__picture{
    width: 100%;
    height: 100%;
    gap: 7px;
    object-fit: cover;
    object-position: center;
}

.search__box h3{
    margin-top: 50px;
}

.search-box__items{
    display:flex;
    flex-wrap: wrap;
    margin-top: 50px;
    max-block-size: 361px;
    gap: 12px;
}

.search__item{
    display:flex;
    width:auto;
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 1px #C4C4C4;
    border-radius: 4px;
    justify-content: center;
}

.search__item-name {
    text-decoration: none;
    color: black;
}

.search__item:hover {
    background-color: #00AAA1;
}

.video__block{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 28px;
    max-width: 854px;
    width: auto;
}
.video__item{
    margin-top: 30px;
    display:flex;
    width: 413px;
    height: 502px;
    flex-direction: column;
    justify-content:space-between;
}

.video-play__item{
    border-radius: 5px;
    border: none;
    width: auto;
    height: 262px;

}

.faq__main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    max-width: 746px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.faq__item-header {
    color: #222222;
    font-weight: bold;
}

